<input [(ngModel)]="num" type="number">
<button (click)="incrementar(5)" class="btn btn-success me-1">+5</button>
<button (click)="incrementar(10)" class="btn btn-success me-1">+10</button>
<button (click)="incrementar(50)" class="btn btn-success me-1">+50</button>
<button (click)="incrementar(100)" class="btn btn-success me-1">+100</button>
<button (click)="incrementar(500)" class="btn btn-success me-1">+500</button>
<br>
{{ num }}
<br><br>
<input [(ngModel)]="num" type="number">
<button (click)="incrementarLabel(5)" class="btn btn-success">+5</button>
<button (click)="incrementarLabel(10)" class="btn btn-success">+10</button>
<button (click)="incrementarLabel(50)" class="btn btn-success">+50</button>
<button (click)="incrementarLabel(100)" class="btn btn-success">+100</button>
<button (click)="incrementarLabel(500)" class="btn btn-success">+500</button>